{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>Episode Insights</h1>
    <div class="row">
        <div class="col-10">
            <input type="text" class="form-control" id="typeahead" autocomplete="on" placeholder="Enter episode name">
        </div>
        <div class="col-2">
            <button id="searchEpisode" class="btn btn-success btn-block">Search</button>
        </div>
    </div>
    <div class="col-12 col-md-12 mt-4 mb-4">
        <div class="row">
            <div id="episode-stat1"></div>
        </div>
    </div>
    <div class="col-12 col-md-12 mt-4 mb-4">
        <div class="row">
            <div id="episode-stat2"></div>
        </div>
    </div>
    <div class="col-12 col-md-12 mt-4 mb-4">
        <div class="row">
            <div id="episode-stat3"></div>
        </div>
    </div>
    <div class="col-12 col-md-12 mt-4 mb-4">
        <div class="row">
            <div id="episode-stat4"></div>
        </div>
    </div>
    <div class="col-12 col-md-12 mt-4 mb-4">
        <div class="row">
            <div id="episode-stat5"></div>
        </div>
    </div>

</div>

<script>
   $(document).ready(function () {
    var episode_list = {{episodes | tojson | safe}};

    $('#typeahead').typeahead({
        source: episode_list
    });

    $("#searchEpisode").click(function () {
        var searchInput = $("#typeahead").val();
        console.log("request")
        $.ajax({
            url: "{{ url_for('get_episode_visualization') }}",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify({ episode_name: searchInput }),
            success: function (data) {
                console.log(data)
                console.log('episode')
                updateChart('#episode-stat1', data.stat1);
                updateChart('#episode-stat2', data.stat2);
                updateChart('#episode-stat3', data.stat3);
                updateChart('#episode-stat4', data.stat4);
                updateChart('#episode-stat5', data.stat5);


            },
            error: function (error) {
                console.error("Error fetching data: ", error);
            }
        });
    });

    function updateChart(chartDiv, chartData) {
        vegaEmbed(chartDiv, chartData).then(function (result) {
        }).catch(console.error);
    }
});

</script>
{% endblock %}