{% extends 'base.html' %}

{% block content %}
<h2 style="text-align: center;">General Insights</h2>

<h2>Top Ten Publishers and Shows</h1>

<div>
    <!-- Add the image with the <img> element -->
    <img src="/static/test.jpeg" alt="Related Book 1" width="40%" height="auto">
    <!-- Add more content or elements as needed -->
    <!-- Add the image with the <img> element -->
    <img src="/static/test.jpeg" alt="Related Book 1" width="40%" height="auto">
    <!-- Add more content or elements as needed -->
</div>

<h2>Languages</h1>

<div>
    <!-- Add the image with the <img> element -->
    <img src="/static/test.jpeg" alt="Related Book 1" width="40%" height="auto">
    <!-- Add more content or elements as needed -->
    <!-- Add the image with the <img> element -->
    <img src="/static/test.jpeg" alt="Related Book 1" width="40%" height="auto">
    <!-- Add more content or elements as needed -->
</div>

{% endblock %}