{% extends 'base.html' %}

{% block content %}
<h2 style="text-align: center;">General Insights</h2>

<h2>Top Ten Publishers and Shows</h1>

<div>
    <!-- Add the image with the <img> element -->
    <img src="/static/test.jpeg" alt="Related Book 1" width="40%" height="auto">
    <!-- Add more content or elements as needed -->
    <!-- Add the image with the <img> element -->
    <img src="/static/test.jpeg" alt="Related Book 1" width="40%" height="auto">
    <!-- Add more content or elements as needed -->
</div>

<h2>Languages</h1>

<div>
    <!-- Add the image with the <img> element -->
    <img src="/static/test.jpeg" alt="Related Book 1" width="40%" height="auto">
    <!-- Add more content or elements as needed -->
    <!-- Add the image with the <img> element -->
    <img src="/static/test.jpeg" alt="Related Book 1" width="40%" height="auto">
    <!-- Add more content or elements as needed -->
</div>


<div>
    <div class="charts text-center">
        <div class="row"><div id="gen"></div></div><hr>
       
        <!-- Placeholder for the tooltip -->
        <div id="vis-tooltip" class="vg-tooltip"></div>
      </div>
</div>

<h1> TEST SECTION   </h1>

<!-- Render Charts -->
<script type="text/javascript">
function parse(url, div) {
    var opt = {
    mode: "vega-lite",
    renderer: "svg",
    actions: {export: true, source: false, editor: false}
    };

    vegaEmbed("#"+div, url, opt, function(error, result) {
    // result.view is the Vega View, url is the original Vega-Lite specification
    vegaTooltip.vegaLite(result.view, url);
    });
}

parse("/gen", "gen")
</script>

{% endblock %}