{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Our Spotify Podcast Exploration Site</h1>
        <p class="lead">Dive deep into the world of podcasts on Spotify through our interactive visualizations and
            insights.</p>
        <hr class="my-4">
        <p>Our curated dataset offers a detailed look at over 100,000 episodes spanning diverse shows and emanating from
            an array of publishers. This provides a holistic perspective on Spotify's podcast domain.</p>
        <p>For a clearer understanding, let's elucidate some key terminologies:</p>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <strong>Publisher:</strong> These are the studios pivotal to the podcast world. They operate multiple
                podcast shows, akin to production houses in cinema, creating and broadcasting a range of podcast
                content.
            </li>
            <li class="list-group-item">
                <strong>Show:</strong> This refers to a podcast series. Akin to a TV series, a podcast show is a
                collection of episodes centered around a main theme or topic.
            </li>
            <li class="list-group-item">
                <strong>Episodes:</strong> These are individual segments of long-form audio that form part of a show.
                Think of them as chapters in a book, each adding to the overarching story.
            </li>
        </ul>

        <p class="mt-4">Join us in this exploration and uncover the multifaceted realm of Spotify's podcasts. Whether
            you're a podcast aficionado, data enthusiast, or simply curious, there's a wealth of knowledge awaiting you!
        </p>
    </div>

    <div class="logo">
        <!-- Add the image with the <img> element -->
        <img src="{{url_for('static', filename='img.png')}}" alt="Spotify" width="25%" height="auto">
    </div>
    <h2 class="page-title">Podcast Dataset at a Glance</h2>
    <div class="row stats-totals">
        <div class="col-md-12" id="FirstViz">
            <p>Total Publishers: 17,490</p>
            <p>Total Shows: 18,374</p>
            <p>Total Episodes: 105,360</p>
            <p>Total Show Categories: 122</p>
        </div>
    </div>

    <div class="row stats-totals">

        <div class="col-md-12 chart" id="ThirdViz">
            <p class="chart-title">Top Show Categories</p>
            <div id="bar-chart-2"></div>
        </div>
    </div>
    <div class="row stats-totals">

        <div class="col-md-12 chart" id="FourthViz">
            <p class="chart-title">Shows Producing the Most Episodes Per Month</p>
            <div id="bar-chart-3"></div>


        </div>
    </div>
    <div class="row stats-totals">
        <div class="col-md-12 chart" id="SecondViz">
            <p class="chart-title">Most Episodes in a Single Show</p>
            <div id="bar-chart-1"></div>
            <!-- <img src="tmp.jpeg" alt="Bar Chart 1" width="85%" height="auto"> -->
        </div>
    </div>
</div>

<p class="table-title">Search Podcast Shows</p>
<div class="row">
    <div class="col-md-12">
        <iframe width="100%" height="393" frameborder="0"
            src="https://observablehq.com/embed/6eb70a116161a3f4@123?cells=viewof+search%2Cmoredata&banner=false"></iframe>
    </div>

</div>

<p class="table-title">Search Podcast Episodes</p>
<div class="row">
    <div class="col-md-12">
        <iframe width="100%" height="393" frameborder="0"
            src="https://observablehq.com/embed/f904862f2b89cc04@140?cells=viewof+search%2Cmoredata&banner=false"></iframe>
    </div>
</div>


<!-- Footer -->
<footer class="container-fluid text-center footer">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-9 school-logo">
            <img src="{{url_for('static', filename='berkeleyischool-logo-alternate-white-lg.png')}}" alt="Spotify"
                width="25%" height="auto">
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3 text-center">
            <img class="personal-image" src="{{url_for('static', filename='publisher_word_cloud.png')}}" alt="almicia">
        </div>
        <div class="col-sm-3 text-center">
            <img class="personal-image" src="{{url_for('static', filename='publisher_word_cloud.png')}}" alt="tijayant">
        </div>
        <div class="col-sm-3 text-center personal-image">
            <img class="personal-image" src="{{url_for('static', filename='scaperoth.jpeg')}}" alt="scaperoth">
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <p>Almicia Dunson</p>
        </div>
        <div class="col-sm-3">
            <p>Jayant Twari</p>
        </div>
        <div class="col-sm-3">
            <p>David Scaperoth</p>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <p><small>almicia [at] ischool.berkeley.edu</small></p>
        </div>
        <div class="col-sm-3">
            <p><small>tijayant [at] ischool.berkeley.edu</small></p>
        </div>
        <div class="col-sm-3">
            <p><small>scaperoth [at] ischool.berkeley.edu</small></p>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row"></div>
</footer>

<script src="{{url_for('static', filename='01_bar_chart_total_shows.js')}}"></script>
<script src="{{url_for('static', filename='02_bar_chart_top_categories.js')}}" type="text/javascript" src=></script>
<script src="{{url_for('static', filename='03_bar_chart_most_episodes_per_month.js')}}"></script>

{% endblock %}