{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-10">
            <input type="text" class="form-control" id="typeahead" autocomplete="on" placeholder="Enter publisher name">
        </div>
        <div class="col-2">
            <button id="searchPublisher" class="btn btn-success btn-block">Search</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12">
            <div id="publisher-chart1"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div id="publisher-chart2"></div>
        </div>
        <div class="col-12 col-md-6">
            <div id="publisher-chart3"></div>
        </div>
    </div>

</div>

<script>
   $(document).ready(function () {
    var publishers_list = {{publishers | tojson | safe}};

    $('#typeahead').typeahead({
        source: publishers_list
    });

    $("#searchPublisher").click(function () {
        var searchInput = $("#typeahead").val();
        $.ajax({
            url: "{{ url_for('get_publisher_visualization') }}",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify({ publisher_name: searchInput }),
            success: function (data) {
                console.log(data)
                updateChart('#publisher-chart1', data.chart1);
                updateChart('#publisher-chart2', data.chart2);
                updateChart('#publisher-chart3', data.chart3);

            },
            error: function (error) {
                console.error("Error fetching data: ", error);
            }
        });
    });

    function updateChart(chartDiv, chartData) {
        vegaEmbed(chartDiv, chartData).then(function (result) {
        }).catch(console.error);
    }
});

</script>
{% endblock %}