{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-10">
            <input type="text" class="form-control" id="typeahead" autocomplete="on" placeholder="Enter show name">
        </div>
        <div class="col-2">
            <button id="searchShows" class="btn btn-success btn-block">Search</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="row">
                <div id="show-chart1"></div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="row">
                <div id="show-chart2"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="row">
                <div id="show-chart3"></div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="row">
                <div id="show-chart4"></div>
            </div>
        </div>
    </div>
</div>

<script>
   $(document).ready(function () {
    var shows_list = {{shows | tojson | safe}};

    $('#typeahead').typeahead({
        source: shows_list
    });

    $("#searchShows").click(function () {
        var searchInput = $("#typeahead").val();
        console.log("request")
        $.ajax({
            url: "{{ url_for('get_show_visualization') }}",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify({ show_name: searchInput }),
            success: function (data) {
                console.log(data)
                console.log('shows')
                updateChart('#show-chart1', data.chart1);
                updateChart('#show-chart2', data.chart2);
                updateChart('#show-chart3', data.chart3);
                updateChart('#show-chart4', data.chart4);
            },
            error: function (error) {
                console.error("Error fetching data: ", error);
            }
        });
    });

    function updateChart(chartDiv, chartData) {
        vegaEmbed(chartDiv, chartData).then(function (result) {
        }).catch(console.error);
    }
});

</script>
{% endblock %}